* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 58px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 48px;
}
.header-text-box {
  align-self: center;
}

img {
  width: 100%;
}

/* .hero-img {
  /* justify-self: stretch;
  align-self: end; */

h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.5;
}

.text {
  margin-bottom: 58px;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}

.feat-title {
  font-size: 20px;
}

.cus-header {
  /* margin-top: 24px; */
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-bottom: 24px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.quote {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.6;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.img-sec {
  width: 100%;
  height: 200px;
  margin-bottom: 24px;
}

.cus-img {
  width: 400px;
  margin-bottom: 48px;
}

.product-img {
  width: 100%;
  margin-bottom: 24px;
}

.details {
  list-style: none;
  margin-bottom: 20px;
}

.details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.details li:last-child {
  margin-bottom: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.box {
  padding: 24px;
}

footer {
  background-color: #ff7400;

  text-align: center;
  padding-bottom: 20px;
}

footer p {
  padding-top: 20px;
  color: #fff;
}
