* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #343a40;
  border-top: 8px solid #6741d9;
}

.container {
  width: 960px;
  margin: 0 auto;
}

img {
  border-radius: 100px 10px / 120px;
}

.btn:link,
.btn:visited {
  background-color: #6741d9;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 500;
  display: inline-block;
  border-radius: 12px;
}

.btn:hover,
.btn:active {
  background-color: #7048e8;
}

.btn--big {
  padding: 16px 22px;
  font-size: 18px;
}

.btn--small {
  padding: 8px 12px;
  font-size: 14px;
}

.super {
  color: #6741d9;
}

header,
section {
  margin-bottom: 96px;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}
.header-text-box {
  align-self: center;
}

img {
  width: 100%;
}

/* .hero-img {
  /* justify-self: stretch;
  align-self: end; */

.hero-img img {
  box-shadow: 0px 20px 30px 1px rgba(0, 0, 0, 0.1);
  height: 330px;
}
h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

h3 {
  margin-bottom: 20px;

  font-size: 20px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.5;
}

.text {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 1.6;
}

.feat-title {
  font-size: 20px;
}

.cus-header {
  /* margin-top: 24px; */
  font-size: 24px;
  margin-bottom: 20px;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin-bottom: 24px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box p {
  color: rgb(219, 219, 219);
}

.quote {
  font-style: italic;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 1.6;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.quote-section {
  background-color: #7048e8;
  padding: 20px;
  color: #fff;
}

.img-sec {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.cus-img {
  width: 350px;
  /* border-radius: 100px; */
  /* margin-bottom: 48px; */
}

.product-img {
  width: 100%;
  /* margin-bottom: 24px; */
  border-radius: 30px 30px 0px 0px;
}

.details {
  list-style: none;
  margin-bottom: 48px;
}

.details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.details li:last-child {
  margin-bottom: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.box {
  padding: 32px;
}

.feat-title {
  color: #7048e8;
}

.feat-icon {
  stroke: #6741d9;
  width: 36px;
  height: 36px;
  margin-bottom: 24px;
  align-content: center;
}

.pro-icon {
  stroke: #6741d9;
  width: 32px;
  height: 32px;
}
/* .testimonial-box {
  background-color: #7048e8;
} */

/* This is a CSS property called `box-shadow`. It is used to create a shadow effect around an element. */
.product {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.075);
  border-radius: 12px;
}
.quote-section {
  border-radius: 12px;
}

/* .hero-img img {
  border-radius: 12px;
} */
footer {
  background-color: #7950f2;

  text-align: center;
  padding-bottom: 15px;
}

footer p {
  padding-top: 10px;
  color: #fff;
}
